body {
    font-family: 'Roboto', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}


/* -------------------  BACKGROUND  ------------------------*/

.callout-container {
    height: 100vh;
    background: url('/assets/img/home-banner4.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;

}
/* -------------------    HEADER    ------------------------*/
#chevron {
    text-align: center;
}

/* -------------------  NAVIGATION  ------------------------*/


.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.75);
}

.navbar {
    opacity:0.75;
}

i {
    display: inline-block;
    margin-right: 6px;
  }

.nav-link {
    font-size: 1.2em;
}

/* -------------------  FOOTER      ------------------------*/



footer {
    min-height: 200px;
    margin: 0;
    padding: 0;
    background-color: #1f2b36;
    color: #fff;
    font-size: 16px;
}

footer div {
    position: relative;
}
#footer-styling {
    padding: 20px;
}

.social-links li{
    display: inline-block;
}

.social-links {
    align-items: center;
    }

.social-links a{
        color: #fff;
        font-size: 40px;
        padding: 5px;

    }
/* .footer-social-col {
        position: relative;
      
} */
.company-details {
    padding-left: 20px;
}


.copyright {
    background-color: #1f2b36;
    color: #fff;
    padding-left: 20px; 
}

/* -------------------  NAVIGATION  ------------------------*/
/* -------------------  CONTENT     ------------------------*/
/* -------------------  ANIMATIONS  ------------------------*/
/* -------------------  FOOTER      ------------------------*/
/* -------------------  HEADER      ------------------------*/
/* -------------------  BACKGROUND  ------------------------*/
/* -------------------          ------------------------*/
