body {
    font-family: 'Roboto', sans-serif;
}


/* -------------------  BACKGROUND  ------------------------*/

.callout-container {
    height: 100vh;
    background: url('/assets/img/home-banner4.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*transform: skew(0deg, -11deg) scale(0.9) rotate(-0deg);*/
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;

}

/* -------------------  NAVIGATION  ------------------------*/


.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.75);
}

.navbar {
    opacity:0.5;
}

i {
    display: inline-block;
    margin-right: 6px;
  }

.nav-link {
    font-size: 1.2em;
}

/* -------------------  FOOTER      ------------------------*/



footer {
    min-height: 200px;
    margin: 0;
}

#footer-styling {
    padding: 20px;
    margin: 20px;
}

.social-links li{
    display: inline-block;
}

.social-links {
    align-items: center;
}

.footer-social-col {
        position: relative;
        top: 60px;
        left: 0;
}

/* -------------------  NAVIGATION  ------------------------*/
/* -------------------  CONTENT     ------------------------*/
/* -------------------  ANIMATIONS  ------------------------*/
/* -------------------  FOOTER      ------------------------*/
/* -------------------  HEADER      ------------------------*/
/* -------------------  BACKGROUND  ------------------------*/
/* -------------------          ------------------------*/
