body {
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

/* -------------------  BACKGROUND  ------------------------*/

.callout-container {
    height: 85vh;
    background: url('/assets/img/home-banner4.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.callout-container::after {
    background-color: #000;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    }

/* -------------------  NAVIGATION  ------------------------*/


.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.75);
}

.navbar {
    opacity:0.75;
    height: 15vh;
}

i {
    display: inline-block;
    margin-right: 6px;
  }

.nav-link {
    font-size: 1.5em;
}

/* -------------------  NAVIGATION  ------------END---------*/

/* -------------------  CONTENT     ------------------------*/
.home-card{
    height: 50%;
    width: 80%;
    opacity: 0.9;
}
/* -------------------  CONTENT     ------------END---------*/

/* -------------------  FOOTER      ------------------------*/

footer {
    min-height: 200px;
    margin: 0;
    padding: 0;
    background-color: #1f2b36;
    color: #fff;
    font-size: 16px;
}

footer div {
    position: relative;
}
#footer-styling {
    padding: 20px;
}

.social-links li{
    display: inline-block;
}

.social-links {
    align-items: center;
    }

.social-links a{
        color: #fff;
        font-size: 40px;
        padding: 5px;

    }
/* .footer-social-col {
        position: relative;
      
} */
.company-details {
    padding-left: 20px;
}


.copyright {
    background-color: #1f2b36;
    color: #fff;
    padding-left: 20px; 
}

/* -------------------  ANIMATIONS  ------------------------*/
/* -------------------  FOOTER      ------------------------*/
/* -------------------  HEADER      ------------------------*/
/* -------------------  BACKGROUND  ------------------------*/
/* -------------------          ------------------------*/